<div data-form-navigation-target="step" class="hidden m-auto">
    <%= form.label :interest_list, 'Interests', class: 'block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2' %>
    <ul class="grid w-full gap-6 md:grid-cols-6 flex flex-wrap" >
      <% Itinerary::ACTIVITIES.each_with_index do |activity, index| %>
      <li class="block flex-1">
        <%= form.check_box :interest_list, { multiple: true, class: 'hidden peer', id: "itinerary_activity_#{index}" }, activity, nil %>
        <%= form.label "activity_#{index}", class: 'inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700'  do %>
        <div class="block">
          <%= activity %>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>