<header class="sticky top-0 bg-white shadow">
  <div class="container flex flex-col sm:flex-row justify-between items-center mx-auto py-4 px-8">
    <div class="flex items-center text-2xl">
      <%= link_to root_path, class: "flex items-center" do %>
        Tembea Tenaa
      <% end %>
      <a class="ml-4" href="https://buymeacoffee.com/jwaiswa" target="_blank">
        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 170px !important;" >
      </a>
    </div>
  </div>
</header>