<section id="features" class="lg:pb-10 lg:pt-48">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl lg:text-5xl font-semibold">Main Features</h2>
    <div class="flex flex-col sm:flex-row sm:-mx-3 mt-12">
      <div class="flex-1 px-3">
        <div class="p-12 rounded-lg border border-solid border-gray-200 mb-8"
          style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
          <p class="font-semibold text-xl">Personalized Itinerary Creation
          </p>
          <p class="mt-4">
            Using advanced AI algorithms, TembeaTena crafts customized itineraries based on your interests, preferences, and travel style. Whether you’re into adventure, relaxation, culture, or history, our service ensures a perfect fit for your unique travel desires.
          </p>
        </div>
      </div>
      <div class="flex-1 px-3">
        <div class="p-12 rounded-lg border border-solid border-gray-200 mb-8"
          style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
          <p class="font-semibold text-xl">Local Insights and Recommendations
          </p>
          <p class="mt-4">Benefit from curated recommendations for attractions, dining, and activities from locals and travel experts. TembeaTena provides insider tips and hidden gems that are often overlooked, ensuring an authentic and enriching travel experience.
          </p>
        </div>
      </div>
      <div class="flex-1 px-3">
        <div class="p-12 rounded-lg border border-solid border-gray-200 mb-8"
          style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
          <p class="font-semibold text-xl">Real-Time Updates and Notifications
          </p>
          <p class="mt-4">Stay informed with real-time updates on weather conditions, travel advisories, and local events. TembeaTena keeps you updated on any changes or important information, allowing you to adapt and enjoy a smooth, hassle-free journey.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>