<section class="pt-20 md:pt-40">
  <div class="container mx-auto px-8 lg:flex">
    <div class="text-center lg:text-left lg:w-1/2">
      <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">TembeaTena</h1>
      <p class="text-xl lg:text-2xl mt-6 font-bold">
        Discover the World like never before.
      </p>
      <p class="text-xl lg:text-2xl mt-6 font-light">
        Our AI-powered service creates tailor-made itineraries, ensuring you experience the best of diverse landscapes, vibrant cultures, and hidden gems.
      </p>
    </div>
    <div class="lg:w-1/2">
      <div>
        <!-- Need to add some stuff here -->
      </div>
    </div>
  </div>
</section>