<section class="pt-20 md:pt-40">
  <div class="container mx-auto px-8 lg:flex">
    <div class="text-center lg:text-left lg:w-1/2">
      <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">TembeaTena</h1>
      <p class="text-xl lg:text-2xl mt-6 font-bold">
        Discover the World like never before.
      </p>
      <p class="text-xl lg:text-2xl mt-6 font-light">
        Our AI-powered service creates tailor-made itineraries, ensuring you experience the best of diverse landscapes, vibrant cultures, and hidden gems.
      </p>
    </div>
    <div class="lg:w-1/2">
      <% unless current_user %>
        <turbo-frame id="devise-form">
          <div data-controller="toggle-signup">
            <div data-toggle-signup-target="loginForm" >
              <%= render 'sessions/form' %>
            </div>
            <div data-toggle-signup-target="signupForm" class="hidden">
              <%= render 'registrations/form' %>
            </div>
          </div>
        </turbo-frame>
      <% else %>
        Welcome <%= current_user.email %> <%= link_to 'Sign out', destroy_user_session_path, class: 'text-[#111827E6] hover:underline' %>
      <% end %>
    </div>
  </div>
</section>