<div class="flex items-center pt-0" id=<%="#{chat.thread_id}-chat-form" %> >
  <%= form_with model: chat, html: { class: "flex items-center justify-center w-full space-x-2", data: { turbo: true, action: "turbo:submit-end->chat#handleSubmit" } } do |f| %>
    <%= f.text_field :message,
                     placeholder: "Type your message",
                     class: "flex h-10 w-full rounded-md border border-[#e5e7eb] px-3 py-2 text-sm placeholder-[#6b7280] focus:outline-none disabled:cursor-not-allowed disabled:opacity-50 text-[#030712]",
                     data: { chat_target: "input" }
                    %>
    <%= f.submit "Submit", class: "text-sm bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600" %>
  <% end %>
</div>