@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background: url('/assets/images/home/road.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

@media only screen and (max-width: 786px) {
  .background-image {
    background-size: cover;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
