<div class="flex-none w-full md:w-1/2 lg:w-1/4 aspect-video bg-gray-200 rounded-lg snap-start">
  <div class="h-full w-full flex flex-wrap p-5">
    <h2 class="text-xl text-gray-900 font-medium title-font mb-2"><%= activity['name'] %></h2>
    <p class="leading-relaxed text-base mb-4"><%= activity['description'] %></p>
    <a class="text-sm text-indigo-500 inline-flex items-center" href="<%= activity['source'] %>">
      Learn More
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</div>